<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <!--<label>序号</label><input id="orderid">
     <label>序号</label><input id="orderid">
     <label>序号</label><input id="orderid">
     <label>序号</label><input id="orderid">
     <label>序号</label><input id="orderid">-->
     <a href="/elastisearch/add">添加</a><br>
     <a href="/elastisearch/delete">删除</a><br>
     <a href="/elastisearch/query">查询</a><br>
     <a href="/elastisearch/update">更新</a>
</body>
</html>